alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias diff="colordiff -u"
alias l="ls"
alias ls="ls --color=auto -F"
alias ll="ls -l"
alias la="ls -a"
alias lal="ls -al"
alias t="tree -C"
alias md="mkdir -p"
alias grep="grep --exclude-dir=.git"

alias g="git"
alias gst="git status"
alias gd="git diff"
alias gsta="git stash"
alias gstp="git stash pop"
alias gc="git commit -v"
alias gca="gc -a"
alias gc!="gc --amend"
alias gca!="gc -a --amend"
alias ga="git add"
alias gco="git checkout"
alias gr="git reset"
alias grhh="git reset --hard HEAD"
alias gp="git push"
alias gf="git fetch"
alias gl="git pull --rebase"
alias grb="git rebase"
alias grbc="git rebase --continue"
alias grba="git rebase --abort"

